<h2>Latest Posts:</h2>
<br />

<% @results.each do |post| %>
	<p>	
		<%= post['content'] %>
		<br />
		Created at: <%= post['created_date'] %>
		
		<br />
		<a href="/details/<%= post['id'] %>">Comment</a>
		<br />
		<br />	

	</p>
<% end %>
