<h2>Latest Posts:</h2>
<br />

<% @results.each do |item| %>
	<p>	
		<%= item['content'] %>
		<br />
		<p>Created at:</p>
		
		<br />
		<%= item['created_date'] %>
		
		<br />
		<a href="/details/<%= item['id'] %>">Comment</a>
		<br />	

	</p>
<% end %>
