<h2>New post</h2>
<p>
	<form action="/new" method="POST" role="form">
	<div class="form-group">

		<textarea class="form-control" rows="6"></textarea>
	<br />
	</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>